/* app.css */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  display: block;
}

.app-card {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 32px;
  box-shadow: none !important;
  max-width: 800px;
  margin: auto;

  div {
    div.avatar {
      margin-right: 10px;
      background-color: red;
    }
  }
}

.message-container {
  background-color: #ffefef;
  border-radius: 8px;
  padding: 16px;
  overflow-y: auto;
  height: 540px;
  max-height: 540px !important;
  margin-bottom: 16px;
  position: relative;
  contain: layout; /* 추가: 레이아웃 변경 방지 */
}

.message {
  display: flex;
  align-items: center;
}

.message.user {
  justify-content: flex-end;

  div {
    box-shadow: none;
  }
}

.message.bot {
  justify-content: flex-start;

  div {
    box-shadow: none;
  }
}

.message-bubble {
  background-color: #fff;
  border-radius: 16px;
  padding: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: relative;
  max-width: 70%;
  min-width: 200px;
  word-wrap: break-word;
  z-index: 1; /* 추가: 다른 요소보다 위에 보이도록 설정 */
}

.message.user .message-bubble {
  background-color: #ffdddd;
  z-index: 2; /* 추가: 다른 요소보다 위에 보이도록 설정 */
}

/* 말풍선 화살표 스타일링 */
.message-bubble::before,
.message-bubble::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  transform: translateY(-50%);
  border-style: solid;
  z-index: 3; /* 추가: 화살표가 다른 모든 요소보다 위에 보이도록 설정 */
}

.message-bubble::before {
  border-width: 10px;
}

.message-bubble::after {
  border-width: 10px;
}

.message.bot .message-bubble::before {
  left: -10px; /* 위치 조정 */
  border-color: transparent white transparent transparent; /* 색상 조정 */
}

.message.bot .message-bubble::after {
  left: -20px; /* 위치 조정 */
  border-color: transparent white transparent transparent; /* 색상 조정 */
}

.message.user .message-bubble::before {
  right: -10px; /* 위치 조정 */
  border-color: transparent transparent transparent #ffdddd; /* 색상 조정 */
}

.message.user .message-bubble::after {
  right: -20px; /* 위치 조정 */
  border-color: transparent transparent transparent #ffdddd; /* 색상 조정 */
}

.message-bubble pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.input-field {
  border-radius: 8px;
}

.button-send {
  min-width: 0 !important;
  background-color: red !important;
  box-shadow: none !important;
  height: 78px;
}

.markdown-container table {
  width: 100%;
  border-collapse: collapse;
  margin: 16px 0;
  table-layout: fixed;
}

.markdown-container th,
.markdown-container td {
  border: 1px solid #ddd;
  padding: 8px;
  word-wrap: break-word;
}

.markdown-container th {
  background-color: #f2f2f2;
  color: #333;
  text-align: left;
}
